<div class='jumbotron'>
	<h1>Welcome to my App.  </h1>
	<p>Click Here to <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg"  %> 
	<%= link_to "Log In", "#", class: "btn btn-warning btn-lg"  %> </p>
</div>


