//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
$body-bg:  #2ecc71;
$navbar-default-bg:  #27ae60;
$navbar-default-link-color: white;
@import 'bootstrap-sprockets';
@import 'bootstrap';

.center {
	text-align: center;
	}

.navbar-brand {
	font-weight: bold;
}
